:root {
  --full: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 700px;
  width: var(--full);
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.vertical {
  /* writing-mode: vertical-lr; */
  /* writing-mode: vertical-rl; */
}
